body {
    background: linear-gradient(to bottom, rgb(248, 247, 247), rgb(35, 204, 255));
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'Monaco', 'Lucida Console', 'Andale Mono', monospace;
    color: rgb(0, 0, 0);
    font-size: 144px;
    text-align: center;
    font-weight : bold;

    /*comienzo de la animacion, aparece transparente*/
    opacity: 0;
    animation: aparecer 2s ease-in forwards; /*nombre, tiempo, velocidad, conservaion de la animacion*/
    animation-delay: 2s;
}
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body:active {
    background: linear-gradient(to bottom, #4682B4, #87CEEB); /* Invertir el gradiente al hacer clic */
}


