/* Fondo de pantalla inicial */
body {
    background: linear-gradient(to bottom, #000000, #007cba); /* Degradado negro a azul */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  /* Animación del título */
  h1 {
    font-family: 'Monaco', 'Lucida Console', 'Andale Mono', monospace;
    color: rgb(255, 253, 113);
    font-size: 144px;
    text-align: center;
    font-weight: bold;
  
    /* Animación de entrada */
    opacity: 0;
    animation: aparecer 2s ease-in forwards;
    animation-delay: 2s;
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  