/* Fondo de pantalla inicial */
body {
    background: linear-gradient(to bottom, #000000, #01925d); /* Degradado negro a azul */
    background-size: cover; /* Hace que el fondo cubra toda la pantalla */
    background-repeat: no-repeat; /* No se repite el fondo */
    background-position: center; /* Centra el fondo */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    margin: 0; /* Elimina márgenes */
    padding: 0;
  }
  
  /* Animación del título */
  .click_aqui {
    font-family: 'Monaco', 'Lucida Console', 'Andale Mono', monospace;
    color: white;
    font-size: 144px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    animation: desaparecer 5s ease-in-out forwards;  /* Cambié de 'aparecerDesaparecer' a 'aparecer' */
  }
  .nombre_empresa{
    font-family: 'Monaco', 'Lucida Console', 'Andale Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 144px;
    text-align: center;
    font-weight: bold;
  
    /* Animación de entrada */
    opacity: 0;
  }
  .aparece {
    animation: aparecer 2s ease-in forwards;
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes desaparecer {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
  }

  